
<nav>
    <div class="nav_logo">
  					    					
      	<a id="logo" href="#">KBV</a>
  				
	</div>
	<div class="links">

  		<a href="{{path('app_home')}}">HOME</a>

    	<a id="moreAbout" href="{{path('app_about')}}">A PROPOS</a>

		<a id="activities" href="{{ path('app_inscription') }}">INSCRIPTION</a>

		<a id="blog" href="#">ACTUALITES</a>

      	<a id="shop" href="#">CATALOGUE</a>
 
    </div>
</nav>