{% extends 'basicPage.html.twig' %}

{% block title %}ABOUT{% endblock %}

{% block page_header %}

        
        <h1>ABOUT</h1>

{% endblock %}

{% block page_main %}

        <p>A propos de KBV<p>

{% endblock %}










