{% extends 'base.html.twig' %}

{% block title %}ABOUT{% endblock %}

{% block body %}


<div class="container">
    <header>
        {% include "_partials/menu.html.twig" %}
        <h1>ABOUT</h1>
        
    </header>
    <main>
        
        <p>A propos de KBV<p>
        
    </main>
    {% include "_partials/footer.html.twig" %}
</div>
{% endblock %}
