{% extends 'basicPage.html.twig' %}

{% block title %}ABOUT{% endblock %}

{% block page_header %}

        {{ parent() }}
        <h1>QUI SOMMES NOUS ?</h1>

{% endblock %}

{% block page_main %}

        <h3>A propos de KBV<h3>

        <p>Fondé en 2024, Karukéra Beach Volley est une association créée par des femmes et pour les femmes.
    
    L'association est spécialisé dans le développement du beach volley dans sa forme olympique (2 contre 2) et propose un choix complet de formules avec un large programme ouvert à toutes,

    Notre club a une vraie culture associative et sportive, et une identité qui lui est propre :
    
    un Conseil d’Administration paritaire composé de 4 personnes ultra-motivées et hyper-actives, accompagné d’un staff engagé
    
    du jeu libre, des entraînements, des stages, des tournois...
    
    des activités extra-volley pour rester en santé tout en découvrant notre belle île.
    
    des partenaires qui soutiennent nos actions
    
        </p>

{% endblock %}










