{% extends 'basicPage.html.twig' %}

{% block title %}Karukera Beach volley Guadeloupe{% endblock %}

{% block page_header %}

        {{ parent() }}
        <div id="imagePrincipale">
                <h1>KARUKERA
	        <br/>
	        BEACH VOLLEY</h1>
        <div id="premierTrait"></div>
		<h3>LE BEACH VOLLEY AU FEMININ</h3>
	</div>
{% endblock %}

{% block page_main %}
        <h3 class="laUne">À LA UNE !</h3>
        <div {{ react_component('Hello', { name: 'MarieH' }) }}>Loading... <i class="fas fa-cog fa-spin fa-3x"></i></div>
       
        <a href="#">CTA Catalog</a>

{% endblock %}




    
  
