{% extends 'basicPage.html.twig' %}

{% block title %}HOME{% endblock %}

{% block page_header %}

        {{ parent() }}
        <h1>HOME</h1>

{% endblock %}

{% block page_main %}

        <h2>Hello {{ name }}! ✅</h2>
        <p>Content<p>
        <a href="#">CTA Catalog</a>

{% endblock %}




    
  
