{% extends 'basicPage.html.twig' %}

{% block title %}ADHERER A L'ASSOCIATION{% endblock %}

{% block page_main %}
       
        <div {{ react_component('FormulaireAdhesion')}}></div>
        <p>Content<p>
         
        <a href="#">CTA Catalog</a>

{% endblock %}
