{% extends 'basicPage.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}


{% block page_main %}
        <div {{ react_component('Inscription')}}></div>
        <p>Content<p>
         
        <a href="#">CTA Catalog</a>

{% endblock %}
