{% extends 'base.html.twig' %}

{% block body %}
    <header>
        {% block page_header %}
            SPECIZLE
        {% endblock %}
    </header>
    <main>{% block page_main %} {% endblock %} </main>
    <footer>
        {% block page_footer %}
            {% include "_partials/footer.html.twig" %}
        {% endblock %}
    </footer>

{% endblock %}
