{% extends 'basicPage.html.twig' %}

{% block title %}NOS ACTUALITÉS{% endblock %}

{% block page_main %}
        
        
         
        <a href="#">Reportages photo à venir...</a>

{% endblock %}
