{% extends 'basicPage.html.twig' %}

{% block title %}CATALOGUE D'ARTICLES{% endblock %}

{% block page_main %}
        <div {{ react_component('Catalogue')}}></div>
        <p>Content<p>
         
        <a href="#">CTA Catalog</a>

{% endblock %}
